<div class='card'>
  <div class='card-body'>
    <div class='row'>
      <div class="col-7">
        <div class="card-body-title"><h4><span [translate]="'CoursesLocal.RegisteredStudents'"></span></h4></div>
      </div>
      <div class="col-5 d-none d-sm-block" align="right">
        <button type="button" disabled  class="btn btn-secondary s--btn s--btn-secondary s--text"><span
          [translate]="'CoursesLocal.Communication'"></span></button>
        <button type="button" class="btn btn-secondary s--btn s--btn-secondary s--text " (click)="exportStudentList(selectedClass)"> <span
          [translate]="'CoursesLocal.DownloadList'"></span></button>
      </div>
    </div>
    <div class="details_student_navbar d-none d-sm-block">
      <form class="form-inline p-2 col">
        <div class="form-group col-5">
          <label class="pr-2" for="searchText" [translate]="'CoursesLocal.Filter'"></label>
          <div *ngIf="selectedClass?.sections && selectedClass?.sections.length > 0; else no_sections">
            <select [(ngModel)]="selectedClassSection" name="selectSection" class="form-control" (change)="selectChangeHandler(selectedClassSection)">
              <option [ngValue]="null"><span [translate]="'CoursesLocal.FilterBySection'"></span></option>
              <option *ngFor = "let section of selectedClass?.sections" [ngValue]="section.section"> {{section?.name}}</option>
            </select>
          </div>
          <ng-template #no_sections>
            <select class="form-control" >
              <option><span [translate]="'CoursesLocal.NoFilter'"></span></option>
            </select>
          </ng-template>
        </div>
        <div class="form-group col-7">
          <label class="pr-2" for="searchText" [translate]="'CoursesLocal.Search'"></label>
          <input spellcheck="false" (keyup)="onSearchTextKeyUp($event)" type="text" id="searchText" [(ngModel)]="searchText"
                 (keydown)="onSearchTextKeyDown($event)" name="searchText" class="form-control col text-left" [placeholder]="'CoursesLocal.SearchPlaceHolder' | translate">
        </div>
      </form>
    </div>


      <div class="table-body" >
        <div class="container1" >
          <div class="s--list-group-header row ">
            <div class="col-lg-2 d-none d-xl-block" [translate]="'CoursesLocal.Name'" ></div>
            <div class="col-lg-2 d-none d-xl-block" [translate]="'CoursesLocal.Aem'"></div>
            <div class="col-lg-2 d-none d-xl-block" [translate]="'CoursesLocal.Semester'"></div>
            <div class="col-2 d-none d-xl-block" [translate]="'CoursesLocal.Department'"></div>
            <div class="col-auto d-none d-xl-block" [translate]="'CoursesLocal.Type'"></div>
            <div class="col-auto"></div>
          </div>

          <div >
          <div class="s--list-group">
            <div class="s--list-group-item row" *ngFor="let courseClassStudent of courseClassStudents">
              <div class="col-lg-2 col-sm-3 col-8">{{courseClassStudent.student.familyName}} {{courseClassStudent.student.givenName}}</div>
              <div class="col-lg-2 col-sm-2 col-4 ">{{courseClassStudent.student.studentIdentifier}}</div>
              <div class="col-2 d-none d-sm-block">{{courseClassStudent.registrationSemester}}</div>
              <div class="col-2 d-none d-xl-block">{{courseClassStudent.student.department.name}}</div>
              <div class="col-auto d-none d-sm-block">{{courseClassStudent.courseType.name}}</div>
              <div class="col-lg-2 col-md-2 col-sm-2 d-none d-sm-block" align="right">
                <button type="button" disabled class="btn btn-secondary s--btn s--btn-secondary s--text"> <span
                  [translate]="'CoursesLocal.Communicate'"></span></button>
            </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
