<h2 [translate]="'iStudents.Title'"></h2>
<p class="mt-3 mb-4 font-weight-normal" [translate]="'iStudents.Description'"></p>

<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 pr-md-0">
    <input type="text" class="form-control input-lg" id="searchText" #searchTextInput
           [attr.placeholder]="'iStudents.SearchPlaceHolder' | translate" (keyup)="searchText = searchTextInput.value"
           (keyup.enter)="this.getData(searchText)"/>
  </div>
  <div class="col-lg-3 col-md-4 mt-3 mt-md-0">
    <button class="btn btn-active-color btn-lg px-5" type="button" (click)="getData(searchText)">
      <span [translate]="'iStudents.Search'"></span>
    </button>
  </div>
</div>

<!--pre-loading state-->
<div class="row mt-5" *ngIf="!searchFinished">
  <div class="col-12">
    <div class="ph-row">
      <div class="ph-col-2 big"></div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="ph-col-12">

          <div class="row my-0 my-md-3"> <!-- 1st row-->
            <div class="col-lg-3 col-md-4 label">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-xs-8">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 label">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-xs-8">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
          </div>

          <div class="divider my-3"> </div> <!--line-->

          <div class="row my-0 my-md-3"> <!-- 2nd row-->
            <div class="col-lg-3 col-md-4 label">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-xs-8">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 label">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-xs-8">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
          </div>

          <div class="row my-0 my-md-3"> <!-- 3rd row-->
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 label mt-3 mt-sm-0">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-xs-8">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 label mt-3 mt-sm-0">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-xs-8">
              <div class="ph-row">
                <div class="ph-col-8 big"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--end pre-loading state-->

<div class="mb-3 mt-5" *ngIf="searchFinished && studentResults && studentResults.length>0">
  <h5 [translate]="'iStudents.ResultsTitle'"></h5>
  <div *ngFor ="let student of students; let i = index;">
    <div class="card mt-3 px-md-4">
      <div class="card-body">

        <div class="row my-0 my-md-3"> <!-- 1st row-->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 label mt-3 mt-sm-0">
            <span [translate]="'iStudents.GivenName'"></span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-xs-8">
            <span>{{student.givenName}}</span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 label mt-3 mt-sm-0">
            <span [translate]="'iStudents.FamilyName'"></span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-xs-8">
            <span>{{student.familyName}}</span>
          </div>
        </div>

        <div class="divider my-3"> </div> <!--line-->

        <div class="row my-0 my-md-3"> <!-- 2nd row-->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 label mt-3 mt-sm-0">
            <span [translate]="'iStudents.APM'"></span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-xs-8">
            <span> - </span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 label mt-3 mt-sm-0">
            <span [translate]="'iStudents.AEM'"></span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-xs-8">
            <span>{{student.studentIdentifier}}</span>
          </div>
        </div>

        <div class="row my-0 my-md-3"> <!-- 3rd row-->
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 label mt-3 mt-sm-0">
            <span [translate]="'iStudents.ΙnscriptionYear'"></span>
          </div>
          <div *ngIf="student.inscriptionYear != null; else no_inscriptionYear" class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-xs-8">
            <span>{{student.inscriptionYear.alternateName}}</span>
          </div>
          <ng-template #no_inscriptionYear >
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 label mt-3 mt-sm-0">
            <span [translate]="'iStudents.NoInscriptionYear'" ></span>
            </div>
          </ng-template>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 label mt-3 mt-sm-0">
            <span [translate]="'iStudents.Status'"></span>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8 col-xs-8">
            <span>{{'iStudents.StatusTypes.' + student.studentStatus.alternateName | translate}}</span>
          </div>
        </div>

        <div class="row my-4"> <!-- 4th row-->
          <div class="col-lg-12">
            <button class="btn btn-active-color mr-4 mt-2" type="button" disabled>
              <span [translate]="'iStudents.Contact'"></span>
            </button>
            <button class="btn mt-2" [ngClass]="(!isCollapsed[i])?'btn-on-active-color':'btn-active-color'" type="button" (click)="isCollapsed[i]=!isCollapsed[i];">
              <span [translate]="'iStudents.DetailsShow'" *ngIf="isCollapsed[i]"></span>
              <span [translate]="'iStudents.DetailsHide'" *ngIf="!isCollapsed[i]"></span>
            </button>
          </div>
        </div>

        <div class="my-4" *ngIf="!isCollapsed[i]"> <!-- 5th row -->
         <H5 class="mt-4"><span [translate]="'iStudents.ClassGrades'"></span></H5> <!--GRADES-->
         <div *ngIf = "student.classes && student.classes.length > 0; else no_classes">
          <div *ngFor="let courseClass of student.classes">
              <div class="card mt-2" >
                <div class="card-body py-2">
                  <div class="row">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-10">
                          <div class="row mb-2">
                            <span>{{courseClass.courseClass.course.name}}</span>
                          </div>
                          <div class="row">
                            <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{courseClass.courseClass.course.displayCode}}</span>
                            <div *ngIf ="courseClass.formattedGrade === null; else show_info" >
                              <div class = "text-secondary mr-3 "><i class="fa fa-calendar pr-1"></i>
                                {{courseClass.courseClass.period.alternateName | translate}} {{courseClass.courseClass.year}}</div>
                            </div>
                            <ng-template #show_info>
                              <span class="text-secondary mr-3"><i class="fa fa-calendar pr-1"></i> {{courseClass.courseClass.period.alternateName | translate}} {{courseClass.courseClass.year}} - {{ courseClass.examPeriod.name}} {{ courseClass.courseClass.year}}</span>
                            </ng-template>
                          </div>
                        </div>
                        <div class="col-md-2 d-flex align-items-center justify-content-end">
                          <div class="d-flex align-items-center">
                            <div><span class="text-secondary align-middle mr-3 grade-title" [translate]="'iProjects.GradeTitle'"></span></div>
                            <div *ngIf ="courseClass.formattedGrade === null; else show" class = "failed-grade"> -- </div>
                            <ng-template #show>
                              <div><span [ngClass]="(courseClass.isPassed)?'passed-grade':'failed-grade'">{{ courseClass.formattedGrade}}</span></div>
                            </ng-template>
                          </div>
                        </div>
                        <ng-template #show_info>
                          <span class="text-secondary mr-3"><i class="fa fa-calendar pr-1"></i>{{courseClass.courseClass.period.name}} {{courseClass.courseClass.year}} - {{ courseClass.examPeriod.name}} {{ courseClass.courseClass.year}}</span>
                        </ng-template>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <div class="d-flex align-items-center">
                        <span class="text-secondary align-middle mr-3 grade-title d-none d-sm-none d-md-block" [translate]="'iProjects.GradeTitle'"></span></div>
                      <div *ngIf ="courseClass.formattedGrade === null; else showCG" class = "failed-grade d-flex align-items-center"> -- </div>
                      <ng-template #showCG>
                        <div class="d-flex align-items-center"><span [ngClass]="(courseClass.isPassed)?'passed-grade':'failed-grade'">{{ courseClass.formattedGrade}}</span></div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!--END NGFOR-->
          </div> <!--END NGIF-->
          <ng-template #no_classes>
            <span [translate]="'iStudents.NoCourses'" ></span>
          </ng-template>
          <!--END GRADES-->

          <H5 class="mt-4"><span [translate]="'iStudents.ThesesGrades'"></span></H5> <!--PROJECTS-->
          <div *ngIf = "student.theses && student.theses.length > 0 ; else no_thesis">
            <div *ngFor="let theses of student.theses" class="card mt-2" >
              <div class="card-body py-2">
                <div class="row">
                  <div class="col-12 d-flex justify-content-between">
                    <div>
                      <div class="mb-2">
                        <span>{{theses.thesis.name}}</span>
                      </div>
                      <div>
                        <span class="text-secondary mr-3"><i class="fa fa-flag pr-1"></i>{{theses.thesis.id}}</span>
                        <span class="text-secondary mr-3"><i class="fa fa-calendar pr-1"></i>{{theses.thesis.startPeriod.name}} {{theses.thesis.startYear}}</span>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <div class="d-flex align-items-center">
                        <div>
                          <span class="text-secondary align-middle mr-3 grade-title d-none d-sm-none d-md-block" [translate]="'iProjects.GradeTitle'"></span>
                        </div>
                        <div *ngIf ="theses.formattedGrade === null; else showTG" class = "failed-grade d-flex align-items-center"> -- </div>
                        <ng-template #showTG>
                          <div class="d-flex align-items-center"><span [ngClass]="(theses.isPassed)?'passed-grade':'failed-grade'">{{ theses.formattedGrade}}</span></div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>   <!--END NGFOR-->
          </div> <!--END NGIF-->

          <ng-template #no_thesis>
            <span [translate]="'iStudents.NoThesis'" ></span>
          </ng-template>
          <!--END PROJECTS-->

        </div>  <!-- end 5th row -->

      </div><!--END CARD BODY-->
    </div><!--END CARD-->
  </div> <!-- END DIV -->

</div>
<div class="mb-3 mt-5" *ngIf="(!studentResults || studentResults.length==0) && searchStarted && searchFinished">
  <span [translate]="'iStudents.NoResults'"></span>
</div>
