.modal-content-grades {
  .text-subtitle {
    color: #536C79;
  }

  .success-color {
    color: #4dbd74;
  }

  .unsuccess-color {
    color: #F86C6B;
  }

  .fs20 {
    font-size: 20px;
  }

  .nav-tabs .nav-link:hover {
    border-color: transparent;
  }

  .nav-tabs .nav-link {
    border-color: transparent;
  }

  .nav-tabs {
    border-bottom: 0;
  }

  .nav-tabs.step-anchor li.nav-item {
    display: none;
  }

  .nav-tabs.step-anchor .nav-item.active {
    display: block !important;
  }

  .tab-content {
    border: none;
  }

  .btn-toolbar {
    justify-content: center !important;
  }

  .btn-toolbar .btn {
    margin: 0px 8px 0 8px;
  }

  .sw-btn-prev {
    background-color: #fff;
    color: #333 !important;
    border-radius: 4px !important;
    border-color: #333;
  }

  .sw-btn-next {
    background-color: #4dbd74;
    border-radius: 4px !important;
    border-color: #4dbd74;
  }

  .custom-file-input {
    cursor: pointer;
  }

  label.custom-file-label {
    overflow: hidden;
  }

  .custom-file-input:focus ~ .custom-file-label {
    outline: none;
    box-shadow: none;
  }

  .custom-file-label::after {
    background-color: #869FAC !important;
    color: #fff;
    margin: 5px 0 5px 0;
    height: 24px;
    padding: 0px 24px 0 24px;
    line-height: 24px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-close {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  @media (max-width: 991px) {
    .sw-toolbar-bottom {
      flex-wrap: unset !important;
    }
  }

  @media (max-width: 767px) {
    .sw-toolbar-bottom {
      flex-wrap: wrap !important;
      margin-left: 0.5rem;
    }

    .sw-toolbar-bottom .btn {
      display: block;
      width: 100%;
      margin: 0 0 1em 0;
    }

    .sw-toolbar-bottom .btn-group {
      display: block;
      width: 93%;
    }

  }
}
