<div *ngIf="!loading">
<div class="row">
  <div class="col-lg-12">
    <div class="py-4">
      <h2 class="d-inline" [translate]="'CoursesLocal.ClassHistory'"></h2>
    </div>
  </div>
</div>
<div class="app2">
<div class="app-body">
<div  class="app-sidebar d-none d-sm-block">
  <ul>
  <li *ngFor="let i of courseClasses | groupBy: ['year.alternateName','period.name'] | values; let j = index;">
    <a class="area-side fragment-link" [class.active]="selectedIndex === j" (click)="setIndex(j)" [routerLink]="['/courses/history']" fragment="{{i[0]?.period?.name}}{{i[0].year.alternateName}}" >
    {{ i[0].period.name }} {{i[0].year.alternateName}}
  </a>
  </li>
  </ul>
</div>
<div class="separator d-none d-sm-block"></div>
  <div class="main inner__content px-5" id="inner__content" (scroll)="scrollHandler($event)">
    <div *ngFor="let i of courseClasses | groupBy: ['year.alternateName','period.name'] | values" class="title years">
      <h3 id ="{{i[0]?.period?.name}}{{i[0].year.alternateName}}"> {{ i[0].period.name }} {{i[0].year.alternateName}}</h3>
      <div *ngFor="let x of i" class="card">
        <div class="card-body">
          <div class='row justify-content-start'>
              <div class='row card-body-title col-9 pb-2 ml-1' >
                <h5>
                  {{x.title}}
                </h5>
              </div>
              <div class='row col-lg-9'>
                <div class='col-auto text-secondary mr-1'>
                    <i class ="fa fa-flag pr-1 "></i> {{x.course.displayCode}}
                </div>
                <div class='col-auto text-secondary mr-1'>
                    <i class ="fa fa-user pr-1"></i> {{ x.numberOfStudents }} <span [translate]="'CoursesLocal.Students'"></span>
                </div>
                <div class='col-auto text-secondary mr-1'>
                    <i class ="fa fa-graduation-cap pr-1"></i> {{ x.period.name }} {{x.year.alternateName}}
                </div>
                <div class='ph-col-auto text-secondary mr-1'>
                    <i class ="fa fa-university pr-1"></i> {{ x.course.department.name }}
                </div>
              </div>
            <div class='ph-col-auto'>
                  <button class="btn btn-outline-secondary rounded text-secondary btn-more p-2 mb-2" [routerLink]="['/courses', x.course.id,x.year.id,x.period.id]" >
                    <span [translate]= "'CoursesLocal.MoreCourseInfo'"></span>
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
